
@font-face {
                          font-family: "AdelleSans-Regular";
                          src: url('../fonts/.17016.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SofiaPro-Medium";
                          src: url('../fonts/Sofia Pro Medium.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "AdelleSans-Bold";
                          src: url('../fonts/.17007.otf') format("opentype");
                        }
                        
.a0big {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a0big .light {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a0big .group {
  background-color    : rgba(255,255,255,0.0);
  right               : 16px;
  top                 : 474px;
  height              : 83px;
  width               : 65px;
  position            : fixed;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a0big .group .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 26px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.a0big .group .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 82px;
  width               : 65px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a0big .framedprint {
  background-color    : rgba(255,255,255,0.0);
  margin-right        : -0px;
  position            : relative;
  height              : 1024px;
  margin-left         : 0px;
  width               : 1259px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  transition          : all 0.3s ease-in-out;
}
.a0big .framedprint-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.a0big .framedprint-layout-container > * {
  pointer-events      : auto;
}
.a0big .framedprint {
  pointer-events      : auto;
}
.a0big .framedprint:hover {
  transform           : scale(0.98);
}
.a0big .framedprint .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 31px;
  height              : 968px;
  width               : 1193px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a0big .framedprint .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}