
@font-face {
                          font-family: "AdelleSans-Regular";
                          src: url('../fonts/.17016.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SofiaPro-Medium";
                          src: url('../fonts/Sofia Pro Medium.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "AdelleSans-Bold";
                          src: url('../fonts/.17007.otf') format("opentype");
                        }
                        
.wallchapterone {
  width               : 100%;
  min-width           : 5159px;
  height              : 100vh;
  min-height          : 911px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.wallchapterone .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 5167px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 794px;
  height              : 119px;
  width               : 3884px;
  position            : fixed;
  margin              : 0;
  left                : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .light {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 5167px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .light1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 792px;
  width               : 3884px;
  position            : fixed;
  margin              : 0;
  left                : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .framedprint {
  background-color    : rgba(255,255,255,0.0);
  top                 : 353px;
  height              : 227px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 1127px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  transition          : all 0.3s ease-in-out;
}
.wallchapterone .group4 .framedprint {
  pointer-events      : auto;
}
.wallchapterone .group4 .framedprint:hover {
  transform           : scale(0.97);
}
.wallchapterone .group4 .framedprint .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 227px;
  width               : 276px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .framedprint .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 209px;
  width               : 258px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .framedprintcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 353px;
  height              : 227px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 731px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  transition          : all 0.3s ease-in-out;
}
.wallchapterone .group4 .framedprintcopy2 {
  pointer-events      : auto;
}
.wallchapterone .group4 .framedprintcopy2:hover {
  transform           : scale(0.97);
}
.wallchapterone .group4 .framedprintcopy2 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 227px;
  width               : 276px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .framedprintcopy2 .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 209px;
  width               : 258px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .framedprintcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 353px;
  height              : 227px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 1409px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  transition          : all 0.3s ease-in-out;
}
.wallchapterone .group4 .framedprintcopy {
  pointer-events      : auto;
}
.wallchapterone .group4 .framedprintcopy:hover {
  transform           : scale(0.97);
}
.wallchapterone .group4 .framedprintcopy .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 227px;
  width               : 276px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .framedprintcopy .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 209px;
  width               : 258px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .a3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 353px;
  height              : 227px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 1818px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  transition          : all 0.3s ease-in-out;
}
.wallchapterone .group4 .a3 {
  pointer-events      : auto;
}
.wallchapterone .group4 .a3:hover {
  transform           : scale(0.97);
}
.wallchapterone .group4 .a3 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 227px;
  width               : 276px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .a3 .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 209px;
  width               : 258px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .group5 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 155px;
  width               : 100%;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .group5-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 299px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 305px;
}
.wallchapterone .group4 .group5-layout-container > * {
  pointer-events      : auto;
}
.wallchapterone .group4 .group5 .viewingroomchapter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 122px;
  height              : auto;
  width               : 299px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AdelleSans-Regular", Helvetica, Arial, serif;
  font-size           : 9.0px;
  color               : rgba(0, 0, 0, 0.9);
  text-align          : left;
  line-height         : 9.0px;
}
.wallchapterone .group4 .group5 .viewingroomchapter .span1 {
  line-height         : 13.0px;
}
.wallchapterone .group4 .group5 .viewingroomchapter .span2 {
  font-size           : 14.0px;
  line-height         : 20.0px;
}
.wallchapterone .group4 .group5 .viewingroomchapter .span3 {
  font-family         : "AdelleSans-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  line-height         : 20.0px;
}
.wallchapterone .group4 .group5 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 75px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .group5 .group2 .rectangle1 {
  background-color    : rgba(0, 0, 0, 0.08);
  top                 : 0px;
  height              : 11px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .group5 .group2 .rectanglecopy2 {
  background-color    : rgba(0, 0, 0, 0.08);
  top                 : 21px;
  height              : 11px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .group5 .group2 .rectanglecopy3 {
  background-color    : rgba(0, 0, 0, 0.08);
  top                 : 42px;
  height              : 11px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .group5 .group2 .rectanglecopy4 {
  background-color    : rgba(0, 0, 0, 0.08);
  top                 : 64px;
  height              : 11px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .next {
  background-color    : rgba(255,255,255,0.0);
  height              : 73px;
  position            : relative;
  width               : 100%;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .next-layout-container {
  pointer-events      : none;
  right               : 40px;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 238px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
}
.wallchapterone .group4 .next-layout-container > * {
  pointer-events      : auto;
}
.wallchapterone .group4 .next .roomu2022sevenskies {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : auto;
  width               : 179px;
  position            : fixed;
  margin              : 0;
  left                : -2px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AdelleSans-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 0.9);
  text-align          : right;
  line-height         : 24.0px;
}
.wallchapterone .group4 .next .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 73px;
  width               : 59px;
  position            : fixed;
  margin              : 0;
  left                : 179px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .next .group1 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 24px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.wallchapterone .group4 .next .group1 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 73px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 421px;
  height              : 73px;
  width               : 59px;
  position            : fixed;
  margin              : 0;
  left                : 16px;
  transform           : rotate(180deg);
  opacity             : 1.0;
}
.wallchapterone .group4 .group .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 24px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.wallchapterone .group4 .group .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 73px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 28px;
  width               : 152px;
  position            : fixed;
  margin              : 0;
  left                : 35px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group3 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.wallchapterone .group3 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 54px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}